.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.con-card {
  margin: 3rem 15rem;
  box-shadow: 1rem 1rem 1rem 1rem lightgrey;
}

.streak {
  display: flex;
  justify-content: center;
}

.counter {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.verb {
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.verb-def {
  display: flex;
}

.verb-entry {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  height: 2rem;
  width: 100%;
}

.performer {
  width: 35%;
}

.field {
  width: 35%;
}

.sub-button {
  width: 6rem;
}

h3 {
  margin: 0;
  font-size: 2rem;
}

p {
  padding: 1rem 0 0 0;
}

input {
  margin: 0 2rem;
  padding: 0rem;
}
